@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rental Car Company</h1>
    <p>Please login at the right top to see more information</p>
</div>
<footer>ASP.Net Core Project</footer>
